parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Authenticator/HttpDigestAuthenticator.php
